.login_background {
	height:100vh;
	background:  url(../../img/background.png) no-repeat center;
	background-size: 100%;
	background-color: #fff!important;
}
.login_module {
	height:331px;
	width:358px;
/*	border:1px solid red;*/
	position:fixed;
	top:23%;
	left:61%;
}
.login_title{
	font-size:24px;
	line-height:20px;
	font-weight: 700;
	margin-bottom: 40px;
}
.login_title_span {
	font-size:18px;
	color:rgb(96, 96, 96);
	margin-left:7px;
	font-weight: 400;
}
.login_input {
	height:37px;
	/* width:320px; */
	font-size:18px;
/*	padding-left:px;*/
}
.login_button {
	background-color:#ff5f07!important;
	border:0px;
	height:52px;
	width:358px;
	font-size: 24px;
	/* border-radius: 52px; */
/*	margin-left: 75px;*/
}
.register {
	/* display:inline-block; */
	float:right;
	color:#ff5f07;
	text-align:right;
	margin-top:-10px!important;
}
.register:hover {
	cursor: pointer;
}
.area-select {
	margin: 0!important;
}
.form_module {
	width: 70%;
	margin: 40px auto 50px auto;
	padding: 20px 80px;
	background-color: #fff;
}
.form_step {
	width:100%;
	padding: 20px 0;
	margin: 0 auto;
	padding:0 auto;
	border-bottom:1px solid #e7e7eb;
}
.register_form {
	padding: 20px 80px;
}
.reg_form_item_style {
	height: 70px;
}
.area-select {
/*	width:100px!important;*/
	margin-right:13px!important;
}